<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="15" name="Suite" parallel="tests">
  <test name="Test1">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test3">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test4">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test5">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test6">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test7">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test8">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test9">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  <test name="Test10">
    <classes>
      <class name="com.salesforce.TestCases.CreateProjectTest"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->
